BOT_URL=http://localhost:8000
SYNC_BEARER_TOKEN=
ALLOWED_CHAT_IDS=

ODYSSEUS_URL=https://s-macbook-air-2.tail61af4a.ts.net
ODYSSEUS_TOKEN=
MISTRAL_API_KEY=
MISTRAL_BASE_URL=https://api.mistral.ai/v1/chat/completions
MISTRAL_MODEL=mistral-large-latest
